@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Josefin+Sans:wght@500&family=Zeyada&display=swap');


.container {
  display: grid;
  grid-template-columns: 43% 57%;
  margin-left: 2rem;
}

.comp {
  color: white;
  margin: 150px 40px 0px 60px;
  font-family: 'Heebo';
}

.para-i{
    font-family: 'Heebo', sans-serif;
    color: #A3A7C0;
    font-family:'Heebo';
    font-size: 25px;
    letter-spacing: 4.75px;
}

.para-ii{
    font-size: 28px;
    font-weight: 400;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 15px;
    padding-left: 5px;
    text-transform: uppercase;
    
}

.para-iii{
    font-size: 18px;
    font-weight: 400;
    color: #A3A7C0;
    margin-top: 8px;
    line-height: 32px;
    font-weight: 400;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle-e{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
    color: #545454;
    background-color: #fff;
    width: 190px;
    height: 190px;
    margin-top: 120px;
}
